* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.signup-container {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    border: 1.5px solid #979A9A;
    border-radius: 8px;
    margin: 40px auto;
    width: 320px;
    height: auto;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    font-weight: bold;
    /* border: 1.5px solid #979A9A; */
    border-radius: 8px;
    margin: 80px auto;
    width: 320px;
    height: auto;
}

.title {
    margin: 30px 0px 10px 0px;
    padding: 10px 0px;
}

.login-title {
    height: 30px;
    text-align: center;
    margin: 20px 0px
}

.signup-container h3 {
    margin: 30px 0px 40px 0px;
}

.signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name-container {
    display: flex;
    flex-direction: column;
    margin: 7px;
    width: 250px;
}

.name-container label {
    margin-bottom: 5px;
}

.name-container input {
    padding: 5px;
}

.email-container {
    display: flex;
    flex-direction: column;
    margin: 7px 0px;
    width: 250px;
}

.email-container label {
    margin-bottom: 5px;
}

.email-container input {
    padding: 5px;
}

.password-container {
    display: flex;
    flex-direction: column;
    margin: 7px 0px;
    width: 250px;
}

.password-container label {
    margin-bottom: 5px;
}

.password-container input {
    padding: 5px;
}

.signup-button {
    margin-top: 15px;
    height: 30px;
    width: 250px;
    font-weight: bold;
    background-color: #B2BABB;
    border: 2px solid #B2BABB;
    border-radius: 4px;
    cursor: pointer;
}

.signup-button:hover {
    opacity: 0.7;
}

.login-button {
    margin-top: 15px;
    height: 30px;
    width: 250px;
    font-weight: bold;
    background-color: #55B7C4;
    border: 2px solid #55B7C4;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    opacity: 0.7;
}

.login-container h3 {
    margin: 30px 0px 40px 0px;
}

.error {
    color: red;
    margin: 10px 0px;
}